@use "variables" as v;

.press-list {

    padding-top: 1em;
    margin: 0 auto;
    max-width: 800px;
  
    h2 {
      text-align: center;
    }
  
  }
  
  .press {
  
    display: block;
    min-width: 100%;
  
    margin-bottom: 40px;
    margin-top: 20px;
    
    blockquote {
  
      max-width: 100%;
      font-style: italic;
      position: relative;
      display: inline-block;
      font-size: 18px;
      padding: 30px 80px 20px 70px;
      line-height: 1.6;
  
      &:before, &:after {
        font-size: 140px;
        font-family: Georgia, serif;
        font-style: normal;
        opacity: 0.4;
        line-height: 0;
        position: absolute;
      }
  
      &:before {
        content: "“";
        top: 75px;
        left: 0px;
      }
  
      &:after {
        content: "”";
        right: 0px;
        bottom: 0px;
      }
  
      small {
        display: block;
        margin-top: 20px;
        text-align: right;
      }
    }
    
    @media screen and (max-width: v.$break-small) {
  
      flex-wrap: wrap;
  
      blockquote {
        min-width: 100%;
      }
    }
  }