$break-small: 675px;
$break-large: 850px;
$break-very-large: 1300px;
$highlight-text: white;
$lowlight-text: #242424;
$highlight: #f52323;
$lowlight: #ff6e6e;
$middlelight-text: #C9C9C9;
$opacity: 0.4;
$dark: #0c0c0c;