@charset "UTF-8";
@import "unslider.css";
@font-face {
  font-family: "SFUIDisplay-ALX";
  src: url("/css/sf-ui-display-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SFUIDisplay-ALX";
  src: url("/css/sf-ui-display-medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SFUIDisplay-ALX";
  src: url("/css/sf-ui-display-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SFUIDisplay-ALX";
  src: url("/css/sf-ui-display-thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
.unslider {
  position: absolute;
  top: 0;
  scroll-snap-align: start;
  width: 100%;
  min-height: 100%;
}
.unslider .image {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.unslider .caption {
  text-align: right;
  position: relative;
  bottom: 50px;
  padding-right: 30px;
}
.unslider .caption a {
  color: white;
  border-bottom: none;
}
@media screen and (max-width: 1300px) {
  .unslider .caption {
    bottom: 70px;
  }
}
@media screen and (max-width: 675px) {
  .unslider .caption {
    bottom: 0;
    text-align: center;
    padding-right: 0;
    padding-top: 20px;
  }
}

.unslider-arrow {
  border-bottom: none;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  right: -82px;
  left: auto;
  margin-top: -16px;
  overflow: hidden;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -999em;
  opacity: 0.8;
  transition: opacity 0.1s;
}
.unslider-arrow:hover {
  opacity: 1;
}
.unslider-arrow.prev {
  left: 18px;
  right: auto;
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
@media screen and (max-width: 675px) {
  .unslider-arrow {
    width: 48px;
    height: 48px;
    right: -74px;
    margin-top: -12px;
  }
  .unslider-arrow.prev {
    left: 26px;
  }
}

.unslider-nav {
  position: relative;
  bottom: 50px;
  list-style: none;
  text-align: center;
}
@media screen and (max-width: 675px) {
  .unslider-nav {
    bottom: 40px;
  }
}
.unslider-nav li {
  display: inline-block;
  float: none;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  padding: 3px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 1.5px solid #fff;
  cursor: pointer;
  opacity: 0.4;
}
.unslider-nav li.unslider-active {
  background: #fff;
  cursor: default;
}

@media screen and (max-width: 675px) {
  .contains-slider-with-caption .unslider-nav {
    bottom: 80px;
  }
}

.unslider-clear {
  height: 100vh;
}
@media screen and (max-width: 675px) {
  .unslider-clear {
    margin-bottom: -40px;
  }
}

.no-unslider {
  height: 50px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.clear {
  clear: both;
}

body {
  font-family: "SFUIDisplay-ALX", sans-serif;
  letter-spacing: 0.7px;
  background: #0c0c0c;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.project-list .project {
  width: calc(33.333% - 10px);
  margin-bottom: 20px;
  position: relative;
}
.project-list .project:hover h1, .project-list .project:hover .overlay {
  opacity: 1;
}
.project-list .project a {
  border-bottom: none;
}
.project-list .project .overlay, .project-list .project h1 {
  transition: opacity 0.3s;
  opacity: 0;
}
.project-list .project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}
.project-list .project .image {
  width: 100%;
  aspect-ratio: 3/2;
  display: block;
  background-position: center center;
  background-size: cover;
}
.project-list .project h1 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.9px;
  color: white;
  text-transform: uppercase;
  z-index: 20;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 850px) {
  .project-list .project {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 675px) {
  .project-list .project {
    width: 100%;
  }
}

.press-list {
  padding-top: 1em;
  margin: 0 auto;
  max-width: 800px;
}
.press-list h2 {
  text-align: center;
}

.press {
  display: block;
  min-width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
}
.press blockquote {
  max-width: 100%;
  font-style: italic;
  position: relative;
  display: inline-block;
  font-size: 18px;
  padding: 30px 80px 20px 70px;
  line-height: 1.6;
}
.press blockquote:before, .press blockquote:after {
  font-size: 140px;
  font-family: Georgia, serif;
  font-style: normal;
  opacity: 0.4;
  line-height: 0;
  position: absolute;
}
.press blockquote:before {
  content: "“";
  top: 75px;
  left: 0px;
}
.press blockquote:after {
  content: "”";
  right: 0px;
  bottom: 0px;
}
.press blockquote small {
  display: block;
  margin-top: 20px;
  text-align: right;
}
@media screen and (max-width: 675px) {
  .press {
    flex-wrap: wrap;
  }
  .press blockquote {
    min-width: 100%;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
  clear: both;
}
@media screen and (min-width: 1300px) {
  .container {
    max-width: 1000px;
  }
}

.nav-container {
  background: none;
  position: relative;
  top: 0;
  z-index: 1000;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background: url("/imgs/home.jpg") no-repeat center center;
  background-size: cover;
}
.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.video-container .video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.video-container .video-overlay h1, .video-container .video-overlay h2 {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}
.video-container .video-overlay h1 {
  font-size: 5em;
  margin-top: 2em;
}
@media screen and (max-width: 710px) {
  .video-container .video-overlay h1 {
    font-size: 3em;
  }
}
.video-container .video-overlay h2 {
  font-size: 2em;
  margin-top: 1em;
}
@media screen and (max-width: 710px) {
  .video-container .video-overlay h2 {
    font-size: 1.5em;
  }
}

.About nav ul li#about a,
.Press nav ul li#press a,
.Contact nav ul li#contact a,
.Credits nav ul li#credits a,
.Theatre nav ul li#work a {
  border-bottom: 2px solid #f52323;
}

nav {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
}
nav ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  list-style: none;
}
nav ul li {
  width: 16.6666667%;
  float: left;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 0px;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 20px;
}
@media screen and (max-width: 812px) and (orientation: landscape) {
  nav ul li {
    font-size: 50%;
  }
}
nav ul li a {
  color: white;
  text-decoration: none;
  border-bottom: none;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.8));
}
nav ul li:nth-child(4), nav ul li:nth-child(5) {
  float: right;
}
nav ul li#home {
  background-image: url(/imgs/logo-small.png);
  background-size: 90px 48px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 13px;
}
nav ul li#home a {
  opacity: 0;
}
@media screen and (max-width: 675px) and (orientation: portrait) {
  nav ul li {
    width: 20%;
    font-size: 12px;
  }
  nav ul li#home {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    background-size: 75px 40px;
  }
}

header {
  text-align: center;
  margin-top: 30px;
  color: white;
}
header.top-of-page {
  margin-top: 30px !important;
  margin-bottom: 30px;
}
header h1 {
  display: inline-block;
  font-weight: 300;
  font-size: 3em;
  padding-bottom: 3px;
  border-bottom: 3px solid #f52323;
}
header h2 {
  font-weight: 300;
  margin-top: 5px;
}
header h3 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  line-height: 30px;
}
@media screen and (max-width: 850px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 675px) {
  header {
    padding-top: 0;
  }
  header h1 {
    font-size: 2.5em;
  }
  header h2 {
    font-size: 1em;
  }
}

.photo-credit {
  color: white;
  text-align: center;
  font-size: 120%;
  margin-top: 20px;
}
.photo-credit a {
  color: inherit;
  text-decoration: underline;
}
@media screen and (max-width: 675px) {
  .photo-credit {
    font-size: 100%;
  }
}

.credits {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 40px;
}
.credits p {
  display: inline;
  text-align: center;
  font-size: 22px;
  margin: auto;
  min-width: 200px;
  padding-bottom: 20px;
  width: 33%;
}
.credits p small {
  display: block;
  font-size: 16px;
}
@media screen and (max-width: 675px) {
  .credits {
    justify-content: space-around;
    padding: 0px;
  }
  .credits p {
    width: 50%;
    min-width: 0;
    font-size: 18px;
  }
  .credits p small {
    font-size: 14px;
  }
}

header.project-title {
  margin-top: 0;
}

.project-info {
  margin-top: 1em;
}
@media screen and (max-width: 675px) {
  .project-info {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.project-info h1, .project-info h2, .project-info h3 {
  text-align: center;
}
.project-info h2.role {
  font-size: 1.4em;
  margin-bottom: 0.4em;
}
@media screen and (max-width: 675px) {
  .project-info h2.role {
    font-size: 20px;
  }
}
.project-info h2.venue {
  font-size: 1.2em;
  margin-bottom: 0.4em;
}
@media screen and (max-width: 675px) {
  .project-info h2.venue {
    font-size: 24px;
  }
}
.project-info h3.date {
  font-size: 20px;
  margin-bottom: 30px;
  color: #C9C9C9;
}
@media screen and (max-width: 675px) {
  .project-info h3.date {
    font-size: 18px;
  }
}
.project-info p.description {
  margin: 20px auto;
  max-width: 600px;
  text-align: left;
  color: #C9C9C9;
}
.project-info .video {
  margin-top: 50px;
}
.project-info a.button {
  background: #0c0c0c;
  text-decoration: none;
  border-bottom: none;
  padding: 8px 14px 10px 14px;
  border-bottom: 2px solid #f52323;
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}
.project-info a.button:before {
  padding-right: 10px;
  font-size: 85%;
}
.project-info a.button#plots:before {
  content: "⬇️";
}
.project-info a.button#readmore:before {
  content: "🌍";
}
@media screen and (max-width: 675px) {
  .project-info a.button#readmore {
    float: left;
    margin-left: 0;
  }
}

.credits-list {
  text-align: center;
  padding-top: 1em;
}
.credits-list .year {
  color: #C9C9C9;
  margin-bottom: 2em;
}
.credits-list .credit {
  margin-bottom: 3em;
}
.credits-list .credit h2 {
  font-weight: 500;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
}
.credits-list .credit p {
  margin-bottom: 1em;
}

.about-me, .contact-me {
  padding: 25px;
  margin-top: 50px;
}
@media screen and (max-width: 675px) {
  .about-me, .contact-me {
    margin-top: 0;
    padding-top: 0;
    padding-left: 40px;
    padding-left: 40px;
  }
}
.about-me .email:before, .contact-me .email:before {
  content: attr(data-website) "@" attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
}
.about-me .social-media-buttons, .contact-me .social-media-buttons {
  margin-top: 20px;
}
.about-me .social-media-buttons a, .contact-me .social-media-buttons a {
  border-bottom: none;
}
.about-me .social-button svg, .contact-me .social-button svg {
  width: 25px;
  height: 25px;
  color: white;
  margin-right: 20px;
  transition: color 0.3s;
}
.about-me .social-button svg:hover, .contact-me .social-button svg:hover {
  color: #f52323;
}
.about-me .words, .contact-me .words {
  float: right;
  width: 50%;
}
@media screen and (max-width: 675px) {
  .about-me .words, .contact-me .words {
    width: 100%;
    float: none;
  }
}
.about-me p, .contact-me p {
  margin-bottom: 25px;
  font-size: 1.3em;
  line-height: 1.3;
}
.about-me p.big, .contact-me p.big {
  font-size: 1.6em;
}
.about-me img, .contact-me img {
  float: left;
  width: 50%;
  padding: 0 40px 40px 0;
}
@media screen and (max-width: 675px) {
  .about-me img, .contact-me img {
    width: 100%;
    padding: 0 0 30px 0;
  }
}

footer {
  background: #0c0c0c;
  padding-top: 25px;
  padding-bottom: 25px;
}
footer p {
  text-align: center;
  color: #C9C9C9;
  line-height: 50px;
}
footer p span {
  color: white;
}
footer p a {
  color: white;
  border-bottom: 1px solid #C9C9C9;
}

/*# sourceMappingURL=style.css.map */
