$break-small: 675px;
$break-large: 850px;
$break-very-large: 1300px;
$highlight-text: white;
$lowlight-text: #242424;
$highlight: #f52323;
$lowlight: #ff6e6e;
$middlelight-text: #C9C9C9;
$opacity: 0.4;
$dark: #1c1c1c;
$middlelight: lighten($dark, 20%);

@import url(https://fonts.googleapis.com/css?family=Lato:300,100,400,700,300italic);
@font-face {
  font-family: 'brandon';
  src: url('/css/brandon.woff') format('woff');
}

@import "unslider.css";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  font-weight: 300;
}

.clear {clear: both;}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.press {

  display: flex;
  flex-wrap: flex;
  justify-content: center;

  margin-top: 20px;

  blockquote {

    &:before, &:after {
      font-size: 160px;
      opacity: 0.4;
      line-height: 0;
      position: absolute;
    }

    &:before {
      content: "“";
      top: 75px;
      left: 0px;
    }

    &:after {
      content: "”";
      right: 0px;
      bottom: 0px;
    }

    position: relative;
    display: inline-block;
    font-size: 20px;
    padding: 30px 50px 20px 60px;
    max-width: 60%;

    small {
      display: block;
      margin-top: 20px;
      padding-left: 20px;
    }
  }

  @media screen and (max-width: $break-small) {

    flex-wrap: wrap;

    blockquote {
      min-width: 100%;
      max-width: none;
      small {
        padding-left: 0;
      }
    }
  }
}

.press-list .press {
  display: block;
  width: 100%;

  blockquote {
    max-width: 100%;
  }
}

.slider {
  display: relative;
  .image {
    width: 100vw;
    height: 66vw;
    max-height: 100vh;
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
  }

  .caption {
    text-align: center;
    position: relative;
    bottom: 80px;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;

    a { color: white; }

    @media screen and (max-width: $break-small) { bottom: 0; background: none; }
  }
}

.unslider {
  position: relative;
  scroll-snap-align: start;
}

.unslider-arrow {

  $size: 64px;
  $small-size: 48px;

  width: $size;
  height: $size;

  position: absolute;

  top: 50%;
  right: -50px - calc($size / 2);
  left: auto;
  margin-top: - calc($size / 4);

  overflow: hidden;

  background: rgba(255, 255, 255 ,.2) no-repeat 50% 50%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==');
  background-size: 7px 11px;

  border-radius: 32px;
  text-indent: -999em;

  opacity: .8;
  transition: opacity .1s;

  &:hover {
    opacity: 1;
  }

  &.prev {
    left: 50px - calc($size / 2);
    right: auto;
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  @media screen and (max-width: $break-small) {
    width: $small-size;
    height: $small-size;
    right: -50px - calc($small-size / 2);
    margin-top: - calc($small-size / 4);

    &.prev { left: 50px - calc($small-size / 2); }
  }

}

.unslider-nav {
	position: relative;
  bottom: 40px;

  @media screen and (max-width: $break-small) {
    bottom: 60px;
    margin-bottom: -60px;
  }
}

.contains-slider-with-caption .unslider-nav {
  bottom: 74px;

  @media screen and (max-width: $break-small) {
    bottom: 33px;
  }
}

.unslider-nav ol {
	list-style: none;
	text-align: center;

  li {
  	display: inline-block;
  	float: none;
  	width: 6px;
  	height: 6px;
  	margin: 0 4px;
  	padding: 3px;

  	background: transparent;
  	border-radius: 5px;
  	overflow: hidden;
  	text-indent: -999em;
  	border: 1.5px solid #fff;
  	cursor: pointer;

  	opacity: .4;

    &.unslider-active {
      background: #fff;
    	cursor: default;
    }
  }
}

section {

  &#first, &.dark {
    background-color: $dark;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23181818' fill-opacity='0.86'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.86'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center center;
  }

  &#first {

    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    padding-bottom: 60px;

    header {
      margin-top: 0;
    }

    .info {
      color: $highlight-text;
      margin-top: 25px;

      h2 {
        margin-bottom: 12.5px;
      }

      p {
        margin-bottom: 12.5px;
      }

      a {
        color: $highlight-text;
        border-bottom: 1px solid $highlight-text;
      }

      @media screen and (max-width: $break-large) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .video, .photo {
      width: 100%;
      margin: 0 auto;

      img {
        width: 100%;
      }

      &.fitvid {
        text-align: center;
      }

      @media screen and (max-width: $break-small) {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  &#tiles {
    color: black;
    background-position: right top;
    padding-bottom: 20px;
  }
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
  width: 100%;
  clear: both;

  @media screen and (min-width: $break-very-large) {
    max-width: 1000px;
  }
}

.nav-container {
  background: $dark;
}

nav {

  display: block;
  float: left;
  width: 100%;
  text-align: center;

  ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    list-style: none;

    li {
      width: 20%;
      float: left;
      margin-top: 15px;
      margin-bottom: 10px;
      padding: 10px 0px;
      vertical-align: middle;
      text-transform: uppercase;
      line-height: 20px;

      a { color: white; text-decoration: none; }

      &:nth-child(4), &:nth-child(5) {
        float: right;
      }

      &#home {
        background-image: url(/imgs/logo-small.png);
        background-size: 90px 48px;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: 13px;

        a { opacity: 0; }
      }

    }

    @media screen and (max-width: $break-small) and (orientation: portrait) {
      li {
        width: 25%;
        font-size: 12px;

        &#home {
          float: none;
          width: 100%;
          text-align: center;
          margin-top: 20px;
          margin-bottom: 0;
          background-size: 75px 40px;
        }
      }
    }
  }
}

header {
  text-align: center;
  font-family: "Lato";
  margin-top: 30px;
  color: white;

  &.top-of-page {
    margin-top: 30px !important;
    margin-bottom: 30px;
  }

  h1 {
    display: inline-block;
    font-weight: 300;
    font-size: 3em;
    padding-bottom: 3px;
    border-bottom: 3px solid $highlight;

  }

  h2 {
    font-weight: 300;
    margin-top: 5px;
  }

  h3 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    line-height: 30px;
  }

  &.big {
    padding-bottom: 25px;
  }

  @media screen and (max-width: $break-large) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (max-width: $break-small) {

    padding-top: 0;

    h1 {
      font-size: 2.5em;
    }

    h2 {
      font-size: 1em;
    }
  }
}

.tiles {

  padding-top: 50px;

  @media screen and (max-width: $break-small) {
    padding-top: 0;
  }

  a {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    color: $lowlight-text;
    padding: 50px 0;
    position: relative;

    &:nth-child(odd) {
      border-right: 2px solid $middlelight;
    }

    div {
      width: 128px;
      height: 128px;
      margin-top: 10px;
      margin: 10px auto;

      &#video {
        background-image: url(/imgs/video.svg);
      }
      &#theatre {
        background-image: url(/imgs/theatre.svg);
      }
      &#code {
        background-image: url(/imgs/code.svg);
      }
      &#hardware {
        background-image: url(/imgs/hardware.svg);
      }
    }

    h2 {
      margin-bottom: 20px;
    }

    p {
      width: 50%;
      margin: 0 auto;
    }

    @media screen and (max-width: $break-large) {
        width: 80%;
        margin-left: 10%;
        border-bottom: 2px solid $dark;
        border-right: none !important;

        &:last-child {
          border-bottom: none;
        }

        p {
          width: 80%;
        }
    }
  }
}

.elsewhere {
  width: 100%;
  margin-top: 30px;
  padding: 40px 0;
  color: white;

  text-align: center;

  @media screen and (max-width: $break-large) {
    margin-top: 0;
  }

  ul {
    list-style: none;
    margin-top: 20px;

    @media screen and (max-width: $break-small) {
      span {
        display: block;
        margin-bottom: 20px;
      }
    }

    li {

      margin-left: 10px;
      margin-right: 10px;
      display: inline-block;
      transition: opacity 0.4s;
      transition-timing-function: ease;

      &.hover {
        opacity: 0.5;
      }

      &:hover {
        opacity: 1 !important;
      }

      a {
        width: 60px;
        height: 60px;
        display: inline-block;
        &#twitter {
          background-image: url(/imgs/twitter.svg);
        }
        &#vimeo {
          background-image: url(/imgs/vimeo.svg);
        }
        &#github {
          background-image: url(/imgs/github.svg);
        }
        &#flickr {
          background-image: url(/imgs/flickr.svg);
        }
        &#pinboard {
          background-image: url(/imgs/pinboard.svg);
        }
        &#instagram {
          background-image: url(/imgs/instagram.svg);
        }
        &#lastfm {
          background-image: url(/imgs/lastfm.svg);
        }
        &#mail {
          background-image: url(/imgs/mail.svg);
        }


      }
    }
  }
}

.projects {

  margin-bottom: 50px;

  @media screen and (max-width: $break-large) and (min-width: $break-small) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: $break-small) {
    margin-bottom: 25px;
  }

  .project {
    width: 50%;
    margin-top: 50px;
    float: left;

    &:nth-child(even) {
      padding-left: 15px;

      @media screen and (min-width: $break-very-large) {
        padding-left: 25px;
      }
    }

    &:nth-child(odd) {
      padding-right: 15px;
      clear: left;

      @media screen and (min-width: $break-very-large) {
        padding-right: 25px;
      }
    }

    img {
      width: 100%;
    }

    h1 {
      border-top: 4px solid $highlight;
      padding-top: 10px;
      margin-top: 6px;
      margin-bottom: 4px;
    }

    h2, time {
      font-style: italic;
      font-weight: 100;
      font-size: 16px;
      display: inline;
    }

    time {
      color: $middlelight-text;
    }

    p {
      margin-top: 6px;
      margin-bottom: 10px;
    }

    a {
      color: $lowlight-text;
      border-bottom: 1px solid $lowlight-text;
    }


    @media screen and (max-width: $break-small) {
      width: 100%;
      padding: 0 !important;

      .info {
        padding: 20px;
      }
    }
  }

}

.photo-credit {
  color: white;
  text-align: center;
  font-size: 120%;
  margin-top: 20px;

  a { color: inherit; text-decoration: underline; }

  @media screen and (max-width: $break-small) {
    font-size: 100%;
  }
}

.system {
  text-align: center;
}


.credits {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 40px;

  p {
    display: inline;
    text-align: center;
    font-size: 22px;
    margin: auto;
    min-width: 200px;

    small {
      display: block;
      font-size: 16px;
    }
  }

  @media screen and (max-width: $break-small) {

    justify-content: space-around;
    padding: 0px;

    p {
      width: 50%;
      min-width: 0;
      font-size: 18px;

      small { font-size: 14px; }
    }
  }
}

section#first .info {

  h1, h2, h3 {
    text-align: center;
  }

  h2.venue {
    font-size: 32px;
    margin-bottom: 0px;
    @media screen and (max-width: $break-small) { font-size: 24px; }
  }

  h3.role {
    font-size: 24px;
    margin-bottom: 5px;
    @media screen and (max-width: $break-small) { font-size: 20px; }
  }

  h3.date {
    font-size: 20px;
    margin-bottom: 30px;

    @media screen and (max-width: $break-small) { font-size: 18px; }
  }

  p.description {
    margin-top: 20px;
  }

  .video {
    margin-top: 50px;
  }

  a.button {
    background: $dark;
    text-decoration: none;
    border-bottom: none;
    padding: 8px 14px 10px 14px;
    border-bottom: 2px solid $highlight;
    float: right;
    margin-top: 10px;
    margin-left: 10px;

    &:before {
      padding-right: 10px;
      font-size: 85%;
    }

    &#plots:before {
      content: "⬇️";
    }

    &#readmore:before {
      content: "🌍";
    }

    @media screen and (max-width: $break-small) {
      &#readmore {
        float: left;
        margin-left: 0;
      }
    }
  }
}

a {

  color: $lowlight-text;
  border-bottom: 1px solid $lowlight-text;

}

a.readmore, .press a {

  font-size: 110%;
  position: relative;
  padding-right: 1px;

  &:after {
    padding-left: 8px;
    border-bottom: inherit;
    content: "→";
  }
}

.about-me, .press-list {
  background: rgba(white, 0.8);
  padding: 25px;
  margin-top: 50px;

  p {
    color: $lowlight-text;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 1.3;
  }

  .headshot {
    float: left;
    width: 50%;
    padding: 0 20px 20px 0;
  }
}

footer {
  background: $dark;
  padding-top: 25px;
  padding-bottom: 25px;

  p {
    text-align: center;
    color: $middlelight-text;
    line-height: 50px;

    span {
      color: $highlight-text;
    }

    a {
      color: $highlight-text;
      border-bottom: 1px solid $middlelight-text;
    }
  }
}
