@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Josefin+Sans:300);
 
$highlight: #da594c;
$hoverhighlight: #42c1d5;
$titleFont: 'Josefin Sans', Helvetica, Arial, sans-serif;
$bodyFont: "Source Sans Pro", Helvetica, Arial, sans-serif;
$textColor: #838383;
$darkColor: #393939;
$darkerColour: #2c2b2b;
$backgroundColor: #fffffa;
$darkBackgroundColor: #f1f1eb;

$SolidBorder: 2px solid #444;

$borderColor: rgba(44, 43, 43, 0.1);

$border: 1px solid rgba(131, 131, 131, 0.5);

$break-small: 430px;

/* Fonts */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*
@font-face {
  font-family: MenschRegular;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/mensch-wf.eot");
  src: url("../fonts/mensch-wf.eot?#iefix") format("embedded-opentype"), url("../fonts/mensch-wf.woff") format("woff"), url("../fonts/mensch-wf.ttf") format("truetype"), url("../fonts/mensch-wf.svg#MenschRegular") format("svg");
}
*/

body {
	border-top: 3px solid $highlight;
	font-family: $bodyFont;
	margin: 0;
	padding: 0;
	color: $textColor;
	font-size: 16px;
	line-height: 20px;
	background: url(/img/bg.png) repeat top left $backgroundColor;
}

/* Elements */

h1 {
	font-family: $titleFont;
	font-weight: normal;
	font-size: 48px;
	color: $highlight;
	line-height: 50px;
	margin-bottom: 0;
	
	small {
		display: block;
		font-size: 22px;
		color: $textColor;
		line-height: 27px;
		margin-top: 5px;
		margin-bottom: 0;
	}
}

h2 {
	font-family: $titleFont;
	font-weight: normal;
	font-size: 36px;
	color: $darkerColour;
	line-height: 40px;
	margin-bottom: 0;
	
	&.subheading {
		color: $highlight;
		margin-top: 10px;
	}
}

h4 {
	font-family: $titleFont;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	color: $highlight;
	font-size: 20px;
	line-height: 25px;
}

p {
	color: $textColor;
	line-height: 24px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

a {
	text-decoration: none;
	border-bottom: 1px dashed $backgroundColor;
	color: $backgroundColor;
}

hr {
	display: block;
	float: left;
	width: 100%;
	height: 1px;
	border: none;
	border-top: 1px solid #edede8;
	margin: 1em 0;
	padding: 0;
	
	&.double {
		margin: 20px 0px;
		height: 20px;
		outline: none;
		border: none;
		border-top: 1px solid $borderColor;
		border-bottom: 1px solid $borderColor;
	}
}

.paragraphs p {
	margin-bottom: 20px;
}

/* Generic Types */

.container {
	zoom: 1;
	margin-left: auto;
	margin-right: auto;
	max-width: 62.5em;
}

.fullwidth {
	width: 100%;
	padding: 50px 0px;	
}

/* Specifics */

	// Header
	
	.header.fullwidth {
		padding: 0;
	}
	
	header {
		nav {
			display: block;
			float: left;
			width: 100%;
			text-align: center;
			
			ul {
				display: table;
				table-layout: fixed;
				width: 100%;
				list-style: none;
				
				li {
					width: 20%;
					float: left;
					margin-top: 15px;
					padding: 10px 0px;
					vertical-align: middle;
					text-transform: uppercase;
					line-height: 50px;
					
					&:nth-child(3), &:nth-child(4) {
						float: right;
					}
					
					@media screen and (max-width: $break-small) {
						float: left;
						width: 25%;
						
						&#home {
							float: none;
							width: 100%;
						} 
					}
					
					a {
						font-family: $titleFont;
						text-decoration: none;
						color: $darkColor;
					}
				}
				
				li#home {
					a {
						color: black;
					}
				}
			}
		}
	}
	
	/* Main Sections */
	
	.fullwidth {
		background: url(/img/bg.png) repeat top left $backgroundColor;
	
		.heading {
			display: block;
			margin-right: 4.4%;
			width: 100%;
			text-align: center;
			
			h1 + p {
				line-height: 25px;
				font-size: 18px;
				max-width: 720px;
				margin: 0 auto;
				padding: 20px;
			}
			
			&.black {
				h1 {
					color: $darkerColour;
				}
			}
		}
		
		&.flat {
			background-image: none;
		}
		
		&.inset {
			box-shadow: inset 0px 5px 20px 0px rgba(0, 0, 0, 0.7);
		}
		
		&.dark-grey {
			background: $darkerColour;
		}
		
		&.dark {
			background-color: $darkBackgroundColor;
		}
		
		&.red {
			background: url(/img/bg.png) repeat top left $highlight;
			color: $backgroundColor;
			
			p {
				color: $backgroundColor;
				
				a {
					border-bottom: 1px dashed $backgroundColor;
					color: $backgroundColor;
				}
			}
		}
		
		&.info {
			p {
				margin-bottom: 20px;
				
				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
	
	.topflush {
		padding-top: 0;
	}
	
	/* Featured Project */
	
	.featured-project {
		display: block;
		padding: 30px 20px 20px 20px;
		
		&.video {
			padding-bottom: 50px;
		}
		
		img {
			box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.4);
			width: 100%;
		}
		
		.info {
			margin-top: 30px;
			
			h2 {
				color: $highlight;
			}
			
			p.description {
				margin-top: 20px;
			}
			
			h2.read-more {
				a {
					color: $hoverhighlight;
					font-size: 18px;
					border-bottom: dotted 1px $hoverhighlight;
					display: inline-block;
				}
			}
		}
	}
	
	/* See More */
	
	.see-more {
		text-align: center;
	}
	
	/* Front Page Work Bits */
	
	.work-section {
		text-align: center;
		margin-top: 10px;
		padding: 40px 30px 50px;
		margin: 0;
		display: block;
		float: left;
		width: 50%;
		
		p {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		
		.icon {
			background-repeat: no-repeat;
			background-image: url(/img/front-page-work.png);
			display: inline-block;
			width: 128px;
			height: 128px;
			margin-bottom: 25px;
			
			&#cinematicmob {
				background-position: -128px 0px;
			}
			
			&#shwiing {
				background-position: -256px 0px;
			}
			
			&#infinitevideo {
				background-position: -384px 0px;
			}
		}
		
		&:hover {
			background: rgba(60, 191, 212, 0.1);
		}
	}
	
	/* Social Media */
	
	.social {
		width: 100%;
		text-align: center;
		margin-top: 10px;
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			
			li {
				display: inline-block;
				vertical-align: middle;
				margin-right: 40px;
				
				&#last {
					margin-right: 0px;
				}
				
				a {
					display: block;
					width: 88px;
					height: 88px;
					background-repeat: no-repeat;
					background-image: url(/img/sprite.png);
					-webkit-transition: -webkit-transform .5s ease-in-out;
					-moz-transition: -moz-transform .5s ease-in-out;
					-ms-transition: -ms-transform .5s ease-in-out;
					-o-transition: -o-transform .5s ease-in-out;
					transition: transform .5s ease-in-out;
					
					&:hover {
						-webkit-transform: rotate(360deg);
						-moz-transform: rotate(360deg);
						-ms-transform: rotate(360deg);
						-o-transform: rotate(360deg);
						transform: rotate(360deg);
					}
					
					&#twitter {
						background-position: 0px 0px;
						&:hover, &:active {
							background-position-y: -88px;
						}
					}
					
					&#vimeo {
						background-position: -264px 0px;
						&:hover, &:active {
							background-position-y: -88px;
						}
					}
					
					&#flickr {
						background-position: -176px 0px;
						&:hover, &:active {
							background-position-y: -88px;
						}
					}
					
					&#github {
						background-position: -88px 0px;
						&:hover, &:active {
							background-position-y: -88px;
						}
					}
					
					&#email {
						background-position: -352px 0px;
						&:hover, &:active {
							background-position-y: -88px;
						}
					}
					
					&#markpond {
						background-position: -440px 0px;
						&:hover, &:active {
							background-position-y: -88px;
						}
					}
				}
			}
		}
	}
	
	/* Footer */
	
	footer {
		.info {
			text-align: center;
			margin: 0 auto;
			width: 100%;
			
			p {
				font-size: 14px;
				line-height: 24px;
				margin: 0px 0px 10px 0px;
				
				span {
					color: $backgroundColor;
				}
			}
			
		}
	}
	
	section.netawards {
			padding: 25px 0;
			text-align: center;
			margin-top: -25px;
	}
	
	/* Portfolio */
	
	.portfolio {
	
		ul {
			list-style: none;
			margin: 0;
			padding: 0px 18px;
			text-align: center;
			
			li {
				display: inline-block;
				color: $darkerColour;
				margin: 0px 16px 16px 16px;
				
				@media screen and (max-width: $break-small) {
					margin: 0px 8px 16px 0px;	
				}
				
				a {
					font-family: $titleFont;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					background: $backgroundColor;
					border: 1px solid $borderColor;
					color: inherit;
					display: block;
					padding: 12px 10px 10px;
					
					&:hover, &.active {
						background: $highlight;
						color: $backgroundColor;
					}
				}
			}
		}
		
		.project {
			
			border-top: 0px solid $highlight;
			-webkit-transition: opacity 0.25s ease-in-out 0s, border-top 0.25s ease-in-out 0s;
			-moz-transition: opacity 0.25s ease-in-out 0s, border-top 0.25s ease-in-out 0s;
			-ms-transition: opacity 0.25s ease-in-out 0s, border-top 0.25s ease-in-out 0s;
			-o-transition: opacity 0.25s ease-in-out 0s, border-top 0.25s ease-in-out 0s;
			transition: opacity 0.25s ease-in-out 0s, border-top 0.25s ease-in-out 0s;
			display: inline-block;
			float: left;
			margin-right: 10%;
			width: 45%;
			margin-bottom: 3em;
			opacity: 1;
			
			&.right {
				margin-right: 0;
			}
			
			&.focus {
				display: inline-block !important;
			}
			
			&.unfocus {
				opacity: 0.4;
			}
			
			h4 {
				display: inline;
			}
			
			time {
				margin-left: 15px;
				font-family: $titleFont;
				letter-spacing: 1px;
				
				@media screen and (max-width: $break-small) {
					display: block;
					margin-left: 0;
					margin-top: 5px;
					margin-bottom: 10px;
				}
			}
			
			.image {
				
				display: block;
				width: 100%;
				overflow: hidden;
				position: relative;
				margin-bottom: 24px;
				
				&:hover .overlay {
					opacity: 1;
				}
				
				.overlay {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: url(/img/view-project.png) center center no-repeat rgba(218, 89, 76, 0.75);
					-webkit-transition: opacity 0.25s ease-in-out;
					-moz-transition: opacity 0.25s ease-in-out;
					-ms-transition: opacity 0.25s ease-in-out;
					-o-transition: opacity 0.25s ease-in-out;
					transition: opacity 0.25s ease-in-out;
					opacity: 0;
				}
				
				img {
					width: 100%;
					height: auto;
					vertical-align: middle;
				}
			}
		}
	}
	
	/* Photos */
	
	.photos {
	
		max-width: 600px;
		margin: 0 auto;
	
		.photo {
			width: 100%;
			padding: 20px;
			
			.photo-header {
				background: $highlight;
				color: $backgroundColor;
				padding: 5px;
				text-align: right;
				
				h2 { color: inherit; }
			}
			
			img {
				width: 100%;
				height: auto;
				margin-top: 10px;
			}
			
			.caption {
				margin: 20px 0;
			}
			
			.exif {
				ul {
					list-style: none;
					li {
						margin: 10px 0;
					}
				}
			}
		}
	}
	
	.pagination {
		width: 100%;
		clear: both;
		
		h2 {
			text-align: center;
			margin: 0 auto;
		}
		
		a {
			display: inline-block;
			width: 75px;
			height: 75px;
			background-image: url(/img/sprite.png);
			background-position: 0 -176px;
			background-repeat: no-repeat;
			text-indent: -9999px;
			
			&:hover {
				background-position: 0 -251px;
			}
			
			&#previous {
				-webkit-transform: rotate(180deg);
				float: right;
			}
			
			&#next {
				float: left;
			}
		}
	}
	
/* Parts */

	.clear { clear: both; }
	
	/* Arrow Button */
	
	.arrow-btn, a.arrow-btn {
		position: relative;
		display: inline-block;
		text-decoration: none;
		color: white;
		z-index: 1000;
		height: 30px;
		overflow: hidden;
		font-size: 16px;
		line-height: 15px;
		text-align: center;
		vertical-align: middle;
		font-family: $titleFont;
		color: $backgroundColor;
		
		&:hover {
			color: white;
		}
		
		span.text {
			position: relative;
			background: $highlight;
			height: 100%;
			padding: 8px 20px;
			margin: 0px 20px;
			display: block;
		}
		
		.arrow {
			position: absolute;
			top: -10px;
			-webkit-transform: scaleY(2);
			-moz-transform: scaleY(2);
			-ms-transform: scaleY(2);
			-o-transform: scaleY(2);
			transform: scaleY(2);
			z-index: -1;
			
			span {
				display: block;
				width: 50px;
				height: 50px;
				background: $highlight;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
		.left { left: 22px; }
		.right { right: 22px; }
		
		&.white {
			span.text {
				background: $backgroundColor;
				color: $darkerColour;
				border-top: $border;
				border-bottom: $border;
			}
			
			.arrow span {
				background: $backgroundColor;
			}
			
			.arrow.left span {
				border-bottom: $border;
				border-left: $border;
			}
			
			.arrow.right span {
				border-top: $border;
				border-right: $border;
			}
			
			&:hover, &.hover {
				span.text, .arrow span {
					background: $highlight;
					border-color: $highlight;
					color: $backgroundColor;
				}
			}
		}
	}

/* Media Queries */

	@media screen and (max-width: 1100px) {
		.container {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	
	@media screen and (max-width: 800px) {
	
		.work-section {
			width: 100%;
		}
		
		.porfolio-grid .project {
			width: 100%;
			margin-right: 0px;
		}
		
		.social ul span {
			display: block;
			margin-bottom: 20px;
		}
		
		.social ul li:last-child {
			margin-right: 0px;
		}
		
	}
	
	@media screen and (max-width: 600px) {
		.project {
			width: 100%;
			margin-right: 0px;
			
			time {
				letter-spacing: 2px;
			}
		}
	}